<html>
    <head>
        <title>remote_control_cozmo.py display</title>
    </head>
    <body>
        <h1>Remote Control Cozmo</h1>
        <table>
            <tr>
                <td valign = top>
                    <img src="cozmoImage" id="cozmoImageId" width=640, height=480>
                    <div id="DebugInfoId"></div>
                </td>
                <td width=30></td>
                <td valign=top>
                    <h2>Controls:</h2>

                    <h3>Driving:</h3>

                    <b>W A S D</b> : Drive Forwards / Left / Back / Right<br><br>
                    <b>Q</b> : Toggle Mouse Look: <button id="mouseLookId" onClick=onMouseLookButtonClicked(this) style="font-size: 14px">Default</button><br>
                    <b>Mouse</b> : Move in browser window to aim<br>
                    (steer and head angle)<br>
                    (similar to an FPS game)<br>
                    <br>
                    <b>T</b> : Move Head Up<br>
                    <b>G</b> : Move Head Down<br>

                    <h3>Lift:</h3>
                    <b>R</b> : Move Lift Up<br>
                    <b>F</b>: Move Lift Down<br>
                    <h3>General:</h3>
                    <b>Shift</b> : Hold to Move Faster (Driving, Head and Lift)<br>
                    <b>Alt</b> : Hold to Move Slower (Driving, Head and Lift)<br>
                    <b>L</b> : Toggle IR Headlight: <button id="headlightId" onClick=onHeadlightButtonClicked(this) style="font-size: 14px">Default</button><br>
                    <b>O</b> : Toggle Debug Annotations: <button id="debugAnnotationsId" onClick=onDebugAnnotationsButtonClicked(this) style="font-size: 14px">Default</button><br>
                    <b>P</b> : Toggle Free Play mode: <button id="freeplayId" onClick=onFreeplayButtonClicked(this) style="font-size: 14px">Default</button><br>
                    <h3>Play Animations</h3>
                    <b>0 .. 9</b> : Play Animation mapped to that key<br>
                    <h3>Talk</h3>
                    <b>Space</b> : Say <input type="text" name="sayText" id="sayTextId" value="''' + remote_control_cozmo.text_to_say + '''" onchange=handleTextInput(this)>
                </td>
                <td width=30></td>
                <td valign=top>
                <h2>Animation key mappings:</h2>
                ''' + get_anim_sel_drop_downs() + '''<br>
                </td>
            </tr>
        </table>

        <script type="text/javascript">
            var gLastClientX = -1
            var gLastClientY = -1
            var gIsMouseLookEnabled = '''+ to_js_bool_string(_is_mouse_look_enabled_by_default) + '''
            var gAreDebugAnnotationsEnabled = '''+ str(_display_debug_annotations) + '''
            var gIsHeadlightEnabled = false
            var gIsFreeplayEnabled = false

            function postHttpRequest(url, dataSet)
            {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", url, true);
                xhr.send( JSON.stringify( dataSet ) );
            }

            function updateImage()
            {
                // Note: Firefox ignores the no_store and still caches, needs the "?UID" suffix to fool it
                document.getElementById("cozmoImageId").src="cozmoImage?" + (new Date()).getTime();
            }
            setInterval(updateImage , 90); // repeat every X ms

            function updateCozmo()
            {
                postHttpRequest("updateCozmo", {} )
            }
            setInterval(updateCozmo , 60);

            function updateDebugInfo()
            {
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == XMLHttpRequest.DONE) {
                        document.getElementById("DebugInfoId").innerHTML = xhr.responseText
                    }
                }

                xhr.open("POST", "getDebugInfo", true);
                xhr.send( null );
            }
            setInterval(updateDebugInfo, 60); // repeat every X ms

            function updateButtonEnabledText(button, isEnabled)
            {
                button.firstChild.data = isEnabled ? "Enabled" : "Disabled";
            }

            function onMouseLookButtonClicked(button)
            {
                gIsMouseLookEnabled = !gIsMouseLookEnabled;
                updateButtonEnabledText(button, gIsMouseLookEnabled);
                isMouseLookEnabled = gIsMouseLookEnabled
                postHttpRequest("setMouseLookEnabled", {isMouseLookEnabled})
            }

            function updateDebugAnnotationButtonEnabledText(button, isEnabled)
            {
                switch(gAreDebugAnnotationsEnabled)
                {
                case 0:
                    button.firstChild.data = "Disabled";
                    break;
                case 1:
                    button.firstChild.data = "Enabled (vision)";
                    break;
                case 2:
                    button.firstChild.data = "Enabled (all)";
                    break;
                default:
                    button.firstChild.data = "ERROR";
                    break;
                }
            }

            function onDebugAnnotationsButtonClicked(button)
            {
                gAreDebugAnnotationsEnabled += 1;
                if (gAreDebugAnnotationsEnabled > 2)
                {
                    gAreDebugAnnotationsEnabled = 0
                }

                updateDebugAnnotationButtonEnabledText(button, gAreDebugAnnotationsEnabled)

                areDebugAnnotationsEnabled = gAreDebugAnnotationsEnabled
                postHttpRequest("setAreDebugAnnotationsEnabled", {areDebugAnnotationsEnabled})
            }

            function onHeadlightButtonClicked(button)
            {
                gIsHeadlightEnabled = !gIsHeadlightEnabled;
                updateButtonEnabledText(button, gIsHeadlightEnabled);
                isHeadlightEnabled = gIsHeadlightEnabled
                postHttpRequest("setHeadlightEnabled", {isHeadlightEnabled})
            }

            function onFreeplayButtonClicked(button)
            {
                gIsFreeplayEnabled = !gIsFreeplayEnabled;
                updateButtonEnabledText(button, gIsFreeplayEnabled);
                isFreeplayEnabled = gIsFreeplayEnabled
                postHttpRequest("setFreeplayEnabled", {isFreeplayEnabled})
            }

            updateButtonEnabledText(document.getElementById("mouseLookId"), gIsMouseLookEnabled);
            updateButtonEnabledText(document.getElementById("headlightId"), gIsHeadlightEnabled);
            updateDebugAnnotationButtonEnabledText(document.getElementById("debugAnnotationsId"), gAreDebugAnnotationsEnabled);
            updateButtonEnabledText(document.getElementById("freeplayId"), gIsFreeplayEnabled);

            function handleDropDownSelect(selectObject)
            {
                selectedIndex = selectObject.selectedIndex
                itemName = selectObject.name
                postHttpRequest("dropDownSelect", {selectedIndex, itemName});
            }

            function handleKeyActivity (e, actionType)
            {
                var keyCode  = (e.keyCode ? e.keyCode : e.which);
                var hasShift = (e.shiftKey ? 1 : 0)
                var hasCtrl  = (e.ctrlKey  ? 1 : 0)
                var hasAlt   = (e.altKey   ? 1 : 0)

                if (actionType=="keyup")
                {
                    if (keyCode == 76) // 'L'
                    {
                        // Simulate a click of the headlight button
                        onHeadlightButtonClicked(document.getElementById("headlightId"))
                    }
                    else if (keyCode == 79) // 'O'
                    {
                        // Simulate a click of the debug annotations button
                        onDebugAnnotationsButtonClicked(document.getElementById("debugAnnotationsId"))
                    }
                    else if (keyCode == 80) // 'P'
                    {
                        // Simulate a click of the debug annotations button
                        onFreeplayButtonClicked(document.getElementById("freeplayId"))
                    }
                    else if (keyCode == 81) // 'Q'
                    {
                        // Simulate a click of the mouse look button
                        onMouseLookButtonClicked(document.getElementById("mouseLookId"))
                    }
                }

                postHttpRequest(actionType, {keyCode, hasShift, hasCtrl, hasAlt})
            }

            function handleMouseActivity (e, actionType)
            {
                var clientX = e.clientX / document.body.clientWidth  // 0..1 (left..right)
                var clientY = e.clientY / document.body.clientHeight // 0..1 (top..bottom)
                var isButtonDown = e.which && (e.which != 0) ? 1 : 0
                var deltaX = (gLastClientX >= 0) ? (clientX - gLastClientX) : 0.0
                var deltaY = (gLastClientY >= 0) ? (clientY - gLastClientY) : 0.0
                gLastClientX = clientX
                gLastClientY = clientY

                postHttpRequest(actionType, {clientX, clientY, isButtonDown, deltaX, deltaY})
            }

            function handleTextInput(textField)
            {
                textEntered = textField.value
                postHttpRequest("sayText", {textEntered})
            }

            document.addEventListener("keydown", function(e) { handleKeyActivity(e, "keydown") } );
            document.addEventListener("keyup",   function(e) { handleKeyActivity(e, "keyup") } );

            document.addEventListener("mousemove",   function(e) { handleMouseActivity(e, "mousemove") } );

            function stopEventPropagation(event)
            {
                if (event.stopPropagation)
                {
                    event.stopPropagation();
                }
                else
                {
                    event.cancelBubble = true
                }
            }

            document.getElementById("sayTextId").addEventListener("keydown", function(event) {
                stopEventPropagation(event);
            } );
            document.getElementById("sayTextId").addEventListener("keyup", function(event) {
                stopEventPropagation(event);
            } );
        </script>

    </body>
</html>