<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/js/jquery-1.12.4.min.js"></script>
</head>
<body>
    <img src="cozmoImage" id="cozmoImageId" width=640, height=480>
    <button id="annotations">annotations on/off</button>
    <script type="text/javascript">
        var areDebugAnnotationsEnabled = 2;
        function updateImage() {
            // Note: Firefox ignores the no_store and still caches, needs the "?UID" suffix to fool it
            document.getElementById("cozmoImageId").src="cozmoImage?" + (new Date()).getTime();
        }
        setInterval(updateImage , 90); // repeat every X ms

        function postHttpRequest(url, dataSet)
        {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", url, true);
            xhr.send( JSON.stringify( dataSet ) );
        }

        $(function () {
           $('#annotations').click(function() {
                if (areDebugAnnotationsEnabled == 2){
                    areDebugAnnotationsEnabled = 1;
                } else areDebugAnnotationsEnabled = 2;
                postHttpRequest("setAreDebugAnnotationsEnabled", {areDebugAnnotationsEnabled})
            });
        });

    </script>
</body>
</html>